<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <%- include ('../partials/calendar') %>
    
    <section id="homepage">
        <body>
            <main>
                <div class="container">
                    <div class="row">
                        <h2><span id="swift">Swift!</span> <span>Table Booking</span></h2>
                        
                        <div class="form-box" id="tablebook">
                            <table>
                                <tr class="tablehead">
                                        <th>Tables 1 - 5</th>
                                        <th>Tables 5 - 10</th>
                                </tr>
                                <tr>
                                    
                                <% if (formid === 'form1') { %>
                                    <td class="form-box" id="tablebook"></td>>Table 1 <form action="/tableBook" method="get"><button type="submit" disabled></button>Reserve</button></form></td> 
                                    <input type="hidden" name="formid" value="form1" > 
                                    <%} else { %>
                                        <td>Table 1 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>
                                        <input type="hidden" name="formid" value="form1">
                                    <% } %>


                                    
                                   
                                    
                                    <td>Table 2 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>


                                </tr>
                                <tr>
                                    <td>Table 3 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>
                                    <td>Table 4 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>
                                </tr>
                                <tr>
                                    <td>Table 5 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>
                                    <td>Table 6 <form action="/tableBook" method="get"><button type="submit">Reserve</button></form></td>
                                </tr>
                                <tr>
                                    <td>Table 7 <form action="/tableBook" method="post"><button type="submit">Reserve</button></form></td>
                                    <td>Table 8 <form action="/tableBook" method="post"><button type="submit">Reserve</button></form></td>
                                </tr>
                                <tr>
                                    <td>Table 9 <form action="/tableBook" method="post"><button type="submit">Reserve</button></form></td>
                                    <td>Table 10 <form action="/tableBook" method="post"><button type="submit">Reserve</button></form></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>

            </main>
        </body>
    </section>
        <%- include ('../partials/footer') %>
