<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <div class="row">
                    OMG, wow! You got to the home page w/o everything going wrong. Good Jobismsmsms 
                </div>
            </div>
        </main>

        <%- include ('../partials/footer') %>