<%- include ('../partials/header') %>

        <main>

            <% if (locals.message) { %>
                <div
                  class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
                  role="alert"
                >
                  <%= message %>
                </div>
                <% } %>

                <body>
                    <header>
                        <h2 class="logo" id="front">QuickBook</h2>
                    </header>
                    <section>
                        <div class="form-box">
                            <div class="form-value">
                                <form action="/login" method="POST">
                                    <h2>Login</h2>
                                    <div class="inputbox">
                                        <ion-icon name="id-card-outline"></ion-icon>
                                        <input id="StudentID" name="StudentID" type="text" required>
                                        <label for="Student ID">Student ID</label>
                                    </div>
                                    <div class="inputbox">
                                        <ion-icon name="lock-closed-outline"></ion-icon>
                                        <input id="password" name="password" type="password" required>
                                        <label for="text"> Password</label>
                                    </div>
                                    <button type="submit">Log in</button>
                                    <div class="register">
                                        <p>Don't have an account? <a href="/register">Register</a></p>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </section>
                    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

                </body>


        </main>

        <%- include ('../partials/footer') %>