<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
    <body style="background-color:rgb(50, 50, 50);">

        <main>
            <div class="container">
                <h1>
                    <center>You Have Successfully Logged Out!</center>
                </h1>
            </div>
        </main>
    </body>
        <%- include ('../partials/footer') %>