<%- include ('../partials/header') %>

    <section>
        <body>
            <main>
                <div class="container">
                    <h2>
                        You Have Successfully Logged Out!
                    </h2>
                </div>
            </main>
        </body>
    </section>

        <%- include ('../partials/footer') %>