<%- include ('../partials/header') %>
<header>
    <a href="/home" style="text-decoration: none;">
        <h2 class="logo" id="front">QuickBook</h2>
      </a>
</header>


    <section>
        <body>
            <main>
                <div class="container">
                    <h2>
                        You Have Successfully Logged Out!
                    </h2>
                </div>
            </main>
        </body>
    </section>

        <%- include ('../partials/footer') %>