<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <h1>
                    <center>You Have Successfully Logged Out!</center>
                </h1>
            </div>
        </main>
        <%- include ('../partials/footer') %>