<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <h1><centre>Welcome User : <%= first_name %></centre></h1>
    <form action = "/delete_user" method="DELETE">

    </form>
  </div>
</main>

<%- include ('../partials/footer') %>