<%- include ('../partials/header') %>

        <main>
            <!-- <script>
            function pwdMatch(){
                var pwd = document.getElementById("password");
                var c_pwd = document.getElementById("confirm_password");
            
                if(c_pwd != pwd){
                    alert("Password must match")
                }
            }
            </script> -->
            <body>
                <section>
                    <div class="form-box" id="register">
                        <div class="form-value">
                            <form action="/register" method="POST"> 
                                <h2>Register</h2>
                                <div class="inputbox">
                                    <input type="text" id="first_name" name="first_name" required/>
                                    <label for="first_name">First Name</label>
                                </div>
                                <div class="inputbox">
                                    <input type="text" id="last_name" name="last_name" required/>
                                    <label for="last_name">Last Name</label>
                                </div>
                                <div class="inputbox">
                                    <input type="text" id="email" name="email" pattern="^(.+)@(.+)$" required/>
                                    <label for="email">Email</label>
                                </div>
                                <div class="inputbox">
                                    <ion-icon name="id-card-outline"></ion-icon>
                                    <input type="text" id="StudentID" name="StudentID" pattern ="[0-9]{1,50}" title = "student id is only allowed to be numbers" required/>
                                    <label for="StudentID">Student ID</label>
                                </div>
                                <div class="inputbox">
                                    <ion-icon name="lock-closed-outline"></ion-icon>
                                    <input type="text" id="password" name="password" required/>
                                    <label for="password">Password</label>
                                </div>
                                <button type="submit">Create an account</button>
                                <div class="login">
                                    <p>Already have an account? <a href="/login">Login</a></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
                <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            </body>
        </main>

        <%- include ('../partials/footer') %>




