<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <!-- THE REST OF YOUR HTML CODE GOES HERE -->

                <body>
                    <form action="/register" method="GET"> 
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeFQu96i8thKDPh6chmpaRUTuFvAZkUBRhwTlhWmPOA0pC4iw/viewform?embedded=true" width="640" height="687" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                    </form>
                </body>
            </div>
        </main>

        <%- include ('../partials/footer') %>