<header id="nav" class="menu">
  <a href="/home" style="text-decoration: none;">
    <h2 class="logo" id="front">QuickBook</h2>
  </a>
  <nav class="navigation">
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
  </nav>
</header>
